What is Lineball?
Lineball is a fast-paced street game made for fun. It mixes Soccer, Basketball, Volleyball, and even Bowling into one game where the main goal is to fling the ball behind the other team without crossing the middle line.

Lineball Rules:

1. Teams & Switching Roles:

Players can change positions anytime, be a Goalkeeper, a Striker, or anything else.

You can switch mid-game if your team needs it.



2. Scoring:

You score by flinging the ball behind the other team.

If your team fails to catch the ball and it goes behind you, the other team scores.



3. Flinging the Ball:

You can fling the ball however you like, kicking, throwing, spiking, rolling, anything.

The most common ways are soccer kicks, volleyball spikes, and basketball throws.



4. Winning the Game:

The first team to score 20 times wins the game.

If no one reaches 20, the game ends when everyone goes home.



5. Midline Rule (Most Important):

Never cross the middle line.

The field is split in half, stay on your side.



6. Joining the Game:

Friends or neighbors can join mid-game as long as they follow the rrules

Original Author of game: Anklh
